.text {
    font-family: monospace;
    font-size: x-large;
    
  }

.input
      {
    border :1px solid#a1a1a1;
    padding:10px 40px;
    width: 300px;
    border-radius:25px;
    font-size: small;
  }

.login
      {
    border :1px solid#cccccc;
    padding:10px 40px;
    width: 300px;
    background:#DCD3FF;
    border-radius:25px;
    font-size: small;
  }

